@{
    ViewBag.Title = "Acerca de...";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        DESCRIPCION VISION DE LA EMPRESA
    </p>

    <p>
        DESCRIPCIOIN MISION DE LA EMPRESA
    </p>

    <p>
        DESCRIPCION DE VALORES DE LA EMPRESA
    </p>
</article>

<aside>
    <h3>ISEI Ingeniería, Sistemas e Informática</h3>
    <p>
        Servicios que ofrecemos
    </p>
    <ul>
        <li>Desarrollo de software</li>
        <li>Implementación y configuración de softwares empresariales [ERP BI BPM]</li>
        <li>Asesoramiento en tecnología</li>
        <li>y mucho más</li>
    </ul>
</aside>