@{
    ViewBag.Title = "Contacto";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Telefóno</h3>
    </header>
    <p>
        <span class="label">Personal:</span>
        <span>5059 6245</span>
    </p>
    <p>
        <span class="label">Oficina:</span>
        <span>5312 2313 / 7768 1520</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Correo</h3>
    </header>
    <p>
        <span class="label">Soporte:</span>
        <span><a href="mailto:ingdavidlopez2014@gmail.com">ingdavidlopez2014@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:david_castillo2010@hotmail.es">david_castillo2010@hotmail.es</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Dirección</h3>
    </header>
    <p>
        Quetzaltenango, Quetzaltenango Guatemala<br />
        Oficina 4-52 Torre PX
    </p>
</section>