@{
    ViewBag.Title = "Inicio";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Sistema Medico </h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                A traves del sistema tendra un control exacto de los ingresos y egresos de los pacientes, compra y consumo de medicamentos, control de los doctores
                del centro hospitalarios, entre otros.
            </p>
        </div>
    </section>
}
<h3>Módulos principales</h3>
<ol class="round">
    <li class="one">
        <h5>Ingresos/Egresos</h5>
        Control exacto del ingreso y egreso de los pacientes.
    </li>

    <li class="two">
        <h5>Medicamentos</h5>
        Medicamentos con sus respectivos movimientos, fechas de caducidad...
    </li>

    <li class="three">
        <h5>Compras</h5>
        Proveedores favoritos....
    </li>
</ol>
